#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  margin: 0%;
  padding: 0%;
    pointer-events: none;
}


.my-img img {
  border-radius: 50%;
  overflow: hidden;
  height: 255px;
  width: 255px;
  border: 3px solid #fff;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.my-img img:hover {
  transform: scale(1.03);
}
.my-img {
  text-align: center;
  justify-content: center;
  margin: 6%;
}
.icon-row i {
  text-shadow: 5px -2px 5px #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: palevioletred;
  font-size: 40px;
  margin-top: 1.8rem;
}

.icon-row i:hover {
  transform: scale(1.05);
}
#fish:hover {
  transform: rotate(45deg);
}

#fish2:hover {
  transform: rotate(20deg);
}

#fish3:hover {
  transform: rotate(20deg);
}


fieldset{
    margin: 1.5rem;
border: #004e7c solid;
}
fieldset pre{
  font-size: 52px;
margin-left: -90%;
  margin-top: -4px;
  transition: all 0.3s ease-in-out;

}
fieldset a{
    text-decoration: none;
}
fieldset a:hover pre{
  transform: scale(1.05);
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #a6d8ff, #e3f2fd);
  color: #033b59;
  text-align: center;
  overflow-x: hidden;
  
}

.about {
  padding: 80px 10%;
  margin-top: -9%;
}
.about hr{
  width: 10%;
height: 0px;
border: 1px solid ;
color: #004e7c;
margin-top: -10px;
}
.about h1 {
  font-size: 2.5rem;
  color: #004e7c;
margin-top: -10px;
}

.intro {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 700px;
  margin: 0 auto 60px;
}

.intro span {
  font-weight: 700;
  color: #0077b6;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.card p {
  padding: 15px;
  font-size: 1rem;
  color: #045b7a;
}

.card:hover {
  transform: scale(1.05);
}

.moments {
  padding: 80px 10%;
  margin-top: -10%;
}
.moments hr{
  width: 30%;
  height: 0px;
  border: 1px #004e7c solid;
  margin-top: -10px;
  margin-bottom: 19px;
}
.moments h1 {
  font-size: 2.4rem;
  color: #004e7c;

}



.moments-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 35px;
  justify-items: center;
}

.moment-card {
  background: #ffffffb8;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.moment-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom: 3px solid #90caf9;
}

.moment-card p {
  padding: 15px;
  font-size: 1rem;
  color: #045b7a;

}

.moment-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1024px) {
  .my-img img {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 480px) {
  .my-img img {
    width: 90px;
    height: 90px;
  }

  #fish, #fish2, #fish3 {
    font-size: 35px;
  }
}
.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60%;
  margin-top: 2rem;
}

.books{
  margin-top: -5%;
   font-family: "Poppins", sans-serif;
}
.books-gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
  gap: 35px;
justify-content: center;

margin: 4rem 3rem ;
}
.book-card{
    background: #ffffffb8;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  max-width: 230px;
}
.book-card img{
    width: 100%;
  height: 380px;
  object-fit: cover;
  border-bottom: 3px solid #90caf9;
}
.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.book-card p {
  padding: 15px;
  font-size: 1rem;
  color: #045b7a;

}
.books hr{
  height: 0;
  border: #004e7c solid 1px;
  width: 15%;
}
.books p{
  font-size: 1.2rem;
}
@media (max-width:768px) {
  .icon-row{
    margin-top: 55%;
    gap: 40px;
  }
  .icon-row i{
   width: 50px;
  }
  .my-img{
    margin: 4.2rem;
  }
  .my-img img{
    width: 200px;
    height: 200px;
  }
  #fish:hover , #fish2:hover , #fish3:hover{
    transform: rotate(20deg);
  }
    .about, .moments {
    padding: 50px 5%;
  }



  fieldset pre {
    font-size: 40px;
    left: -20%;
  }

}
